@model farmers_land.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="modal fade" id="mymodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Log In</h5>
                    </div>
                    <div class="modal-body">                        
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            <div class="row">
                                <div class="col-sm-12">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Email, new { @class = "label-control" })
                                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = " control-label" })
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "" })
                                        @Html.LabelFor(m => m.RememberMe, new { @class = "control-label", })
                                        @Html.ValidationMessageFor(m => m.RememberMe, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <div class="">
                                            <input type="submit" value="Log in" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                         }
                        
                    </div>
                    <div class="modal-footer">
                        <p>
                            Don't have an account?
                            <span class="badge badge-pill badge-info"> <a href="@Url.Action("Index", "Account")">Sign Up</a></span>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/myScriptBundle")
</body>
</html>


